.App{
  border: solid;
  border-radius: 20px;
  width: 50%;
  background-color: #124164;
  color:white;
  height: 400px;
}
.master{
  width: 20%;
  height: 10%;
  
}
.company{
  text-align: end;
  margin: 20px;
  font-size: xx-large;
}
.master{
  display: block;
  margin-left: auto;
  margin-right: 20px;
}
.puce{
  width: 15%;
  margin-left: 20px;
}
.nemr{
  margin-left: 20px;
  font-size: xx-large;
}
.foulan{
  font-size: xx-large;
  margin-left: 10px;
  padding-bottom: 0px;
  
  width: 15%;
  margin-top: 60px;
}
.dt{
  
  
  width: 100%;
  text-align: end;
  margin: 10px;
  font-size: xx-large;
}
.dm{
  display: flex;
  
}
.inpu{
  
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 10px
  
  
  ;
}
.aa{
  
  display: flex;
  justify-content: center;
}
.inp{
  border: solid 1px;
  border-radius: 5px;
  margin: 5px;
  height: 25px;

}
.ins{
  width: 50%;
}